[tool.poetry]
name = "servox"
version = "0.4.1"
description = "Opsani Servo: The Next Generation"
authors = ["Blake Watters <blake@opsani.com>"]
license = "Apache-2.0"
packages = [
    { include = "servo" },
]

[tool.poetry.dependencies]
python = "^3.8"
pydantic = "^1.5.1"
loguru = "^0.5.1"
httpx = "^0.13.3"
python-dotenv = "^0.14.0"
semver = "^2.10.1"
pyaml = "^20.4.0"
tabulate = "^0.8.7"
pygments = "^2.6.1"
devtools = "^0.5.1"
backoff = "^1.10.0"
typer = "^0.3.0"
bullet = "^2.1.0"
kubernetes = "^11.0.0"
jsonschema = "^3.2.0"
timeago = "^1.0.14"

[tool.poetry.dev-dependencies]
pytest = "^5.4.3"
pytest-asyncio = "^0.14.0"
pytest-cov = "^2.10.0"
isort = "^5.1.0"
autoflake = "^1.3.1"
flake8-fixme = "^1.1.1"
mypy = "^0.782"
wemake-python-styleguide = "^0.14.0"
devtools = "^0.5.1"
ipython = "^7.15.0"
black = "^19.10b0"
pytest-mock = "^3.2.0"
freezegun = "^0.3.15"
asynctest = {git = "https://github.com/Martiusweb/asynctest.git", rev = "py3.8"}
respx = "^0.11.2"

[tool.poetry.scripts]
servo = "servo.entry_points:run_cli"

[tool.poetry.plugins."servo.connectors"]
"vegeta" = "servo.connectors.vegeta:VegetaConnector"
"kubernetes" = "servo.connectors.kubernetes:KubernetesConnector"
"prometheus" = "servo.connectors.prometheus:PrometheusConnector"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
