[tool.poetry]
name = "servox"
version = "0.8.0"
description = "Opsani Servo: The Next Generation"
homepage = "https://opsani.com/"
repository = "https://github.com/opsani/servox"
authors = ["Blake Watters <blake@opsani.com>"]
license = "Apache-2.0"
packages = [
    { include = "servo" },
]

[tool.poetry.dependencies]
python = "^3.8"
pydantic = "^1.5.1"
loguru = "^0.5.1"
httpx = "^0.14.3"
python-dotenv = "^0.14.0"
semver = "^2.10.1"
pyaml = "^20.4.0"
tabulate = "^0.8.7"
pygments = "^2.6.1"
devtools = "^0.6.0"
backoff = "^1.10.0"
typer = "^0.3.0"
bullet = "^2.1.0"
jsonschema = "^3.2.0"
timeago = "^1.0.14"
kubernetes_asyncio = "^11.3.0"
orjson = "^3.3.1"

[tool.poetry.dev-dependencies]
pytest = "^6.0.1"
pytest-asyncio = "^0.14.0"
pytest-cov = "^2.10.0"
pytest-mock = "^3.3.1"
freezegun = "^1.0.0"
asynctest = {git = "https://github.com/Martiusweb/asynctest.git", rev = "py3.8"}
respx = "^0.12.1"
kubetest = "^0.8.1"
pytest-freezegun = "^0.4.2"
yamlpath = "^2.3.7"

[tool.poetry.scripts]
servo = "servo.entry_points:run_cli"

[tool.poetry.plugins."servo.connectors"]
"vegeta" = "servo.connectors.vegeta:VegetaConnector"
"kubernetes" = "servo.connectors.kubernetes:KubernetesConnector"
"prometheus" = "servo.connectors.prometheus:PrometheusConnector"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
