name: Mirroring

on: [push, create, delete]

jobs:
  mirror:
    if: github.repository == 'opsani/servox' && github.actor != 'dependabot'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        persist-credentials: false
        fetch-depth: 0
    - name: Push changes
      uses: ad-m/github-push-action@master
      continue-on-error: true
      with:
        github_token: ${{ secrets.MIRROR_TOKEN }}
        branch: ${{ github.ref }}
        tags: true
        repository: opsani/servox-internal
