name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    if: ${{ github.repository == 'opsani/servox' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v3.1.0
    - uses: pre-commit/action@v2.0.3
