on: [push]
name: Sloc, Cloc and Code

jobs:
  scc:
    runs-on: ubuntu-latest
    name: Analyze the codebase with scc
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get the lines of code.
        id: scc
        uses: opsani/scc-docker-action@v1.0.0
        with:
          args: ${{ env.workspace }}
